[Unit]
Description=brewcontroller
ConditionPathExists=|/var/lib/cloud9/brewcontroller

[Service]
WorkingDirectory=/var/lib/cloud9/brewcontroller/server
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=multi-user.target

